<h2><%= @song.name %></h2> <br />
<%= form_for(@purchase) do |f| %>
  <div class="field">
  <h3>Price: $<%= @song.price %><h3>
  </div>
  <%= f.hidden_field :song_id %>
  <div class="actions">
  <%= f.submit %>
  </div>
<% end %>